<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2> details</h2>
      <br>
      <br> ID: <%=  accounts._id %>
      <br> accountNum: <%=accounts.acountNum%>
      <br> balance: <%= accounts.balance %>
      <br> routingNum: <%= accounts.routingNum %>
      <br>
      <hr>

      <form method="get" action="/account">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>