<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2> details</h2>
      <br>
      <br> ID: <%=  account._id %>
      <br> acountNum: <%=account.acountNum%>
      <br> balance: <%= account.balance %>
      <br> routingNum: <%= account.routingNum %>
      <br>
      <hr>

      <form method="get" action="/user">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>