<!-- main - a row holds columns -->
<div class=row>
  <div class="col col-xs-12">
    
    <div class="form-group">
      <label for="accountNum">Account Number</label>
      </label>
      <input type="number" class="form-control" id="accountNum" name="accountNum" value="<%= accounts.accountNum %>" required>
    </div>

    <div class="form-group">
      <label for="balance">Balance</label>
      <input type="number" class="form-control" id="balance" name="balance" value="<%= accounts.balance %>" required>
    </div>

    <div class="form-group">
      <label for="routingNum">Routing Number</label>
      <input type="text" class="form-control" id="routingNum" name="routingNum" value="<%= accounts.routingNum %>" required>
    </div>

  </div>
</div>